<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Folder</title>
  </head>
  <body>
    <% if (folder) { %>
    <h1><%= folder.name %></h1>
    <form action="/" method="post" enctype="multipart/form-data">
      <input type="file" name="file" />
      <button type="submit">Upload</button>
    </form>
    <% } else { %>
    <h1>Folder not found</h1>
    <% } %>
  </body>
</html>
